<a href="https://colab.research.google.com/github/ainguyen05/ainguyen05.github.io/blob/main/baitap02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

## Python 101

In [2]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1+(r)) ** n)
print(round(fv, 2))

194.87

In [3]:
score = 80
if score >= 60:
    print("Pass")

Pass

In [4]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)

2 2.5 Hello

In [5]:
x = 2
y =x + 1
print(y)

3

In [6]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [7]:
x = 'Hello, World'
print(x, type(x))

x = 2
print(x, type(x))

x = 2.5
print(x, type(x))

x = 7j
print(x, type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [14]:
x = ['apple', 'banana', 'cherry']
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>

In [16]:
x = True #bool
print(x, type(x))

x = b"Hello" #bytes
print(x, type(x))

x = bytearray #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x))

x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
<class 'bytearray'> <class 'type'>
<memory at 0x7ddacb622500> <class 'memoryview'>
None <class 'NoneType'>

In [17]:
#casting
x = str(3)
y= int(3)
z = float(3)

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [18]:
x = 2
print(x, type(x))

y = 3.4
print(y, type(y))

z =7j + 3.5
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [20]:
#Operator
print( 7+2 )
print( 7-2 )
print( 7*2 )
print( 7/2 )
print( 7//2 )
print( 7%2 )
print( 7**2 )

9
5
14
3.5
3
1
49

In [21]:
# Comparision
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [22]:
# bmi
# input
height_cm = 162
weight_kg = 45

#process
height_m = height_cm / 100
bmi = (weight_kg / (height_m**2))
print('Your BMI is', round(bmi, 2))

Your BMI is 17.15

In [24]:
# 100$ sau 7 nam
fv = 100 * (1 + 0.1) ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [25]:
# input
amount = 100
interest = 10 # 10%
year = 7

#process
future_value = amount * ((1 + (interest)) ** year)
print('future_value', round(future_value, 2))

future_value 1948717100

## Cau truc du lieu

In [26]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))

x= ("apple", "banana", "cherry") #tuple
print(x, type(x))

x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))

x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'apple', 'cherry', 'banana'} <class 'set'>

In [27]:
# List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [28]:
# Tuple
x = (10, 20, 30, 40, 50)
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

5
10
20
50

In [29]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('dog' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
True
True
3
3
2

In [31]:
# dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [32]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits, type(fruits))

colors = ("red", "green", "blue") #tuples ()
print(colors, type(colors))

animals = {'cat', 'dog'} #sets {}
print(animals, type(animals))

person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person, type(person))

['apple', 'banana', 'cherry'] <class 'list'>
('red', 'green', 'blue') <class 'tuple'>
{'dog', 'cat'} <class 'set'>
{'name': 'Tom', 'age': 20} <class 'dict'>

In [33]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [36]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [37]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
  print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [38]:
# Python Dictionary
accounts = {"1001": {"name": "Cash", "balance": 500.0, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.0, "type": "Asset"},
"1003": {"name": "Accounts Payable", "balance": 750.0, "type": "Liability"}}
for account_number, account_info in accounts.items():
  print("Account number:", account_number)
  print("Account name:", account_info["name"])
  print("Account balance:", account_info["balance"])
  print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 1003
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

In [39]:
# if
score = 80
if score >= 60:
  print('Pass')

Pass

In [40]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [41]:
score = 95
if score >= 90 :
  print("A")
elif score >=60 :
  print("Pass")
else:
  print("Fail")

A

In [42]:
# Python if elif else
score = 90
grade = ""
if score >=90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "E"
print(grade)

A

In [45]:
# loop
for i in range(1, 6): # 1<=1<6
  print(i)

1
2
3
4
5

In [47]:
# 2 loop
for i in range (1, 10):
  for j in range (1, 10):
    print(f'{1} * {j} = {i + j}')
  print('-'*50)

1 * 1 = 2
1 * 2 = 3
1 * 3 = 4
1 * 4 = 5
1 * 5 = 6
1 * 6 = 7
1 * 7 = 8
1 * 8 = 9
1 * 9 = 10
--------------------------------------------------
1 * 1 = 3
1 * 2 = 4
1 * 3 = 5
1 * 4 = 6
1 * 5 = 7
1 * 6 = 8
1 * 7 = 9
1 * 8 = 10
1 * 9 = 11
--------------------------------------------------
1 * 1 = 4
1 * 2 = 5
1 * 3 = 6
1 * 4 = 7
1 * 5 = 8
1 * 6 = 9
1 * 7 = 10
1 * 8 = 11
1 * 9 = 12
--------------------------------------------------
1 * 1 = 5
1 * 2 = 6
1 * 3 = 7
1 * 4 = 8
1 * 5 = 9
1 * 6 = 10
1 * 7 = 11
1 * 8 = 12
1 * 9 = 13
--------------------------------------------------
1 * 1 = 6
1 * 2 = 7
1 * 3 = 8
1 * 4 = 9
1 * 5 = 10
1 * 6 = 11
1 * 7 = 12
1 * 8 = 13
1 * 9 = 14
--------------------------------------------------
1 * 1 = 7
1 * 2 = 8
1 * 3 = 9
1 * 4 = 10
1 * 5 = 11
1 * 6 = 12
1 * 7 = 13
1 * 8 = 14
1 * 9 = 15
--------------------------------------------------
1 * 1 = 8
1 * 2 = 9
1 * 3 = 10
1 * 4 = 11
1 * 5 = 12
1 * 6 = 13
1 * 7 = 14
1 * 8 = 15
1 * 9 = 16
--------------------------------------------------
1 * 1 = 9
1 * 2 = 10
1 * 3 = 11
1 * 4 = 12
1 * 5 = 13
1 * 6 = 14
1 * 7 = 15
1 * 8 = 16
1 * 9 = 17
--------------------------------------------------
1 * 1 = 10
1 * 2 = 11
1 * 3 = 12
1 * 4 = 13
1 * 5 = 14
1 * 6 = 15
1 * 7 = 16
1 * 8 = 17
1 * 9 = 18
--------------------------------------------------

In [48]:
# while loops
age = 10
while age < 20:
  print(age)
  age = age + 1

10
11
12
13
14
15
16
17
18
19

In [50]:
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [51]:
# Python class
class MyClass:
  x = 5

c1 = MyClass()
print(c1.x)

5

In [54]:
# class
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [72]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [62]:
class vehicle:
  name = " "
  kind = "car"
  color = " "
  value = 100.0

  def __init__(self, name=" ", kind="car", color=" ", value=100.0):
    self.name = name
    self.kind = kind
    self.color = color
    self.value = value
    pass

  def description(self):
    desc_str = f'{self.name} is a{self.color} {self.kind} worth ${self.value}'
    return desc_str
    pass

  car1 = vehicle()
  car1.name = 'Fer'
  car1.color = "red"
  car1.kind = "convertible"
  car1.value = 60000.00

  car2 = vehicle()
  car2.name = "Jump"
  car2.color = "blue"
  car2.kind = "van"
  car2.value = 10000.00

  print(car1.description())
  print(car1.name)
  print(car2.description())
  print(car2.name)

Fer is ared convertible worth $60000.0
Fer
Jump is ablue van worth $10000.0
Jump

In [67]:
# mymodule.py
def greeting(name):
  print("Hello, " + name)

In [68]:
# Python File Input / Output
filename = 'mymodule.py'
with open(filename, 'w') as file:
  text = '''def greeting(name):
  print("Hello, " + name)
  '''
  file.write(text)

with open(filename, 'r') as file:
  text = file.read()
print(filename)
print(text)

mymodule.py
def greeting(name):
  print("Hello, " + name)

In [69]:
import mymodule
mymodule.greeting("Alan")

Hello, Alan

In [70]:
#Python main() function
def main():
  print("Hello World!")

if __name__ == "__main__":
  main()

Hello World!

In [73]:
f = open("myfile.txt"
, "w")
f.write("Hello World")
f.close()
f = open("myfile.txt", "r")

text = f.read()
print(text)
f.close()

Hello World

## Ket thuc